node_modules
.DS_Store

/.cache
/.react-router
/build
/app/build
/public/build/
/public/_dev
/app/public/build

.env
.env.*
!.env.example
.dev.vars
.dev.vars.*
.wrangler

/extensions/*/dist

# Ignore shopify files created during app dev
.shopify/*
.shopify.lock

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Generated types
/app/types/*
.scratch/